In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("chicago_taxi_trips_2016_01.csv")

In [3]:
df.columns

Index(['taxi_id', 'trip_start_timestamp', 'trip_end_timestamp', 'trip_seconds',
       'trip_miles', 'pickup_census_tract', 'dropoff_census_tract',
       'pickup_community_area', 'dropoff_community_area', 'fare', 'tips',
       'tolls', 'extras', 'trip_total', 'payment_type', 'company',
       'pickup_latitude', 'pickup_longitude', 'dropoff_latitude',
       'dropoff_longitude'],
      dtype='object')

In [4]:
df.head(10)

,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude
0,85.0,2016-1-13 06:15:00,2016-1-13 06:15:00,180.0,0.40,NaN,NaN,24.0,24.0,4.50,0.00,0.0,0.0,4.50,Cash,107.0,199.0,510.0,199.0,510.0
1,2776.0,2016-1-22 09:30:00,2016-1-22 09:45:00,240.0,0.70,NaN,NaN,NaN,NaN,4.45,4.45,0.0,0.0,8.90,Credit Card,NaN,NaN,NaN,NaN,NaN
2,3168.0,2016-1-31 21:30:00,2016-1-31 21:30:00,0.0,0.00,NaN,NaN,NaN,NaN,42.75,5.00,0.0,0.0,47.75,Credit Card,119.0,NaN,NaN,NaN,NaN
3,4237.0,2016-1-23 17:30:00,2016-1-23 17:30:00,480.0,1.10,NaN,NaN,6.0,6.0,7.00,0.00,0.0,0.0,7.00,Cash,NaN,686.0,500.0,686.0,500.0
4,5710.0,2016-1-14 05:45:00,2016-1-14 06:00:00,480.0,2.71,NaN,NaN,32.0,NaN,10.25,0.00,0.0,0.0,10.25,Cash,NaN,385.0,478.0,NaN,NaN
5,1987.0,2016-1-8 18:15:00,2016-1-8 18:45:00,1080.0,6.20,NaN,NaN,8.0,3.0,17.75,0.00,0.0,0.0,17.75,Cash,NaN,599.0,346.0,660.0,120.0
6,4986.0,2016-1-14 04:30:00,2016-1-14 05:00:00,1500.0,18.40,NaN,NaN,NaN,NaN,45.00,12.00,0.0,0.0,57.00,Credit Card,NaN,NaN,NaN,NaN,NaN
7,6400.0,2016-1-26 04:15:00,2016-1-26 04:15:00,60.0,0.20,NaN,NaN,16.0,16.0,3.75,0.00,0.0,0.0,3.75,Cash,107.0,527.0,24.0,527.0,24.0
8,7418.0,2016-1-22 11:30:00,2016-1-22 11:45:00,180.0,0.00,NaN,504.0,8.0,32.0,5.00,2.00,0.0,1.5,8.50,Credit Card,82.0,210.0,470.0,744.0,605.0
9,6450.0,2016-1-7 21:15:00,2016-1-7 21:15:00,0.0,0.00,NaN,NaN,NaN,NaN,3.25,0.00,0.0,1.5,4.75,Cash,NaN,NaN,NaN,NaN,NaN

In [5]:
np.mean(df["trip_seconds"])

653.44218175293804

In [6]:
np.max(df["trip_seconds"])

86340.0

In [7]:
np.mean(df["trip_miles"])

2.8727017026118684

In [8]:
np.min(df["trip_miles"])

0.0

In [12]:
import json
with open("column_remapping.json") as file:
    dic = json.load(file)

In [16]:
for i,row in df.iterrows():
    row["pickup_latitude"] = dic["pickup_latitude"][int(row["pickup_latitude"])]
    print(i)

KeyError: 199.0